<section>
    <input type="search" [(ngModel)]="hamada" id="default-search" class="block w-[60%] mx-auto mb-8 p-4 ps-10 my-3 text-lg text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Products..."  />

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
        @for (prod of products| search : hamada; track prod.id) {
            <div class="card border border-green-400/50 rounded-md overflow-hidden shadow relative py-2">
              <div  [routerLink]="['/details', prod._id]">
                <div class="card-img">
                    <img [src]="prod.imageCover" class="w-full h-[250px] object-contain " [alt]="prod.title" />
                  </div>
                  <div class="card-body px-2 py-4">
                    <h4 class="text-green-500 text-sm font-semibold">{{prod.category.name}}</h4>
                    <h3 class="font-semibold text-md">{{prod.title.split(' ', 2 ).join(" ")}}</h3>
                    <div class="flex justify-between items-center">
                      <span font-semibold text-sm>{{prod.price}} EGP</span>
                      <div class="flex items-center">
                        <i class="fas fa-star text-yellow-400"></i>
                        <span class="text-gray-500">{{prod.ratingsAverage}}</span>
                      </div>
                    </div>
                  </div>
              </div>
                <button (click)="addToCart(prod.id)" class="bg-green-600 text-white py-2 px-10 border rounded w-[90%] mx-auto block">Add To Cart</button>
              </div>
        }
    </div>
</section>