<section>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
        @for (brand of brands; track brand._id) {
            <div class="card border border-gray-400/50 overflow-hidden shadow relative py-2 hover:scale-105 transition-all">
              <div >
                <div class="card-img">
                    <img [src]="brand.image" class="w-full h-[300px]  " [alt]="brand.name" />
                  </div>
                  <div class="card-body px-2 py-4">
                    <h4 class=" text-center text-2xl font-semibold">{{brand.name}}</h4>
                  </div>
              </div>
            </div>
        }
    </div>
</section>

